language: android
android:
  components:
  - tools
  - platform-tools
  - build-tools-25.0.3
  - android-23
notifications:
  email: false
  slack:
    on_success: change
    on_failure: always
    secure: QSAPGZNQIh7XPkoZnc6NpqbAvFv36Na/JuwNS237g208kfH3JSusCNAIowy1RinwDlwF5AZdn+hhSd2Oifpft2DYxtyD1RFyQc5w3t0/DVHjUnGPYF2LR4d4Ym4mXgodYT54gf4qr31aZ1N+kvlLO/WYdINsLFOgXk7M65xI6NiFbxoHuz6etOu0qHXk9y5bP8yFmU6KAg2xuocjhxZZpB0MlZYBCdwFKlLhSl12xkhXSl9dDMEld0/JbUHtP5nrFIiT4DF/ej2ASzSWmug29v/KAg3ib7zkUHDyGdJBvXsV0GAeleclUsh6u5JnlIxA+xwwA+GlJNPI71iIYv4nRqW0bL1FZuq382aPGybuna3xRdif9ArRjrqNoXDk5DT+YpMvpIm/8CpmOAhUCL0HC90SV52wkKi4PF1Y0NJYGofJH9O6e4kRimpFejfL3ELd22wj7GoTh78VkCEM+W7uvgP9Wu4BpO6HLVGXJy1KVsOZreaapz8/P3Ey1NfZgm5HR2k31dGQU6PgMZOXAvqBOrpSqZDun1k35msDDAVoqsO7rNuOAi5p6gALqmqJb5DSg3gRGRuJff8JAkqOxAXU9agAyd02vtVH17jiYNjJpKl6gwBRAQZQPFlXPr8J9B4Co87NKDMVLCHEVmXvssttBXgviuJSi4sb4y2V7ebENn4=
