language: android
android:
  components:
  - tools
  - platform-tools
  - build-tools-27.0.3
  - android-23
  - android-26
notifications:
  email: false
  slack: acmerobotics:9SyyedCFx2m2yLp9dIYS93TG
