@import url('https://fonts.googleapis.com/css?family=Roboto:400');
body { font-family: "Roboto", sans-serif; margin: 0; padding: 0; font-size: 14px; }
header { width: calc(100% - 16px); background-color: #2962ff; color: white; padding: 8px; height: 44px; }
h1, h2, h3 { margin: 0; }
.tile-grid { display: grid; grid-template: 65% 35% / 65% 35%; width: 100%; height: calc(100vh - 60px); }
.tile { border: 1px solid #EEE; padding: 16px; overflow: auto; }
.heading { display: flex; justify-content: space-between; align-items: center; }
table { margin: 0; border-collapse: collapse; text-align: left; }
td { padding: 4px; }
input { font-size: inherit; outline: none; }
.invalid { border: 2px solid red; }
.icon-group { display: flex; align-items: center; order: 10; }
.icon { background-repeat: round; margin: 4px; }
.icon.small { width: 24px; height: 24px; }
.icon.large { width: 36px; height: 36px; }
.save { background-image: url('icons/save.svg'); }
.wifi { background-image: url('icons/wifi.svg'); }
.no-wifi { background-image: url('icons/wifi_off.svg'); }
.chart { background-image: url('icons/chart.svg'); }
.close { background-image: url('icons/close.svg'); }
.refresh { background-image: url('icons/refresh.svg'); }
.add { background-image: url('icons/add.svg'); }
.remove { background-image: url('icons/remove.svg'); }
